.app {
    text-align: center;
    background-color: rgb(243, 206, 126);
    outline: saddlebrown;
    outline-style: solid;
}

.divider {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color:saddlebrown;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
  }

.navbar-link {
    width: 50%;
    margin-bottom: 12px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.new-rec-form {
    padding: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.header {
    margin-top: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-navbar{
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .records-list{
      padding: 15px;
  }


